<style>
    *{
        outline: 1px solid black;
        font-family: 'Lobster', cursive;
    }
</style>


<main>
    <header>EAT DA BURGER</header>
    <span>
        top area?
    </span>

    <ul>
        {{#each burgers}}
        <li>
            {{burger_name}} : {{devoured}}
        </li>
        {{/each}}
    </ul>
</main>





<script src="https://code.jquery.com/jquery.js"></script>
